annotated-types==0.7.0
duckdb==1.0.0
et-xmlfile==1.1.0
numpy==1.26.4
openpyxl==3.1.4
pandas==2.2.2
pyarrow==16.1.0
pydantic==2.7.4
pydantic_core==2.18.4
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
PySide6==6.7.2
